<br/>
<%form_tag({:action => :import_csv}, :multipart => true) do  %>
        <label for="upload_file">CSV File</label> :
        <%= file_field 'data', 'datafile' %>&nbsp;&nbsp;
        <%= submit_tag "Upload" %>
<%end%>
<br/><br/>
Please click 
<a href="http://url/templates/UploadTemplate.csv">here</a> 
for a correctly formatted template.
